# === AWS S3 ===
AWS_ACCESS_KEY_ID=your_aws_access_key_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_key_here
AWS_REGION=your_aws_region_here
AWS_BUCKET=your_s3_bucket_name_here

# === Aiven Kafka ===
AIVENUSERNAME=avnadmin
AIVENPASSWORD=your_aiven_password_here
BROKERURL=your_kafka_broker_here
CLIENTID="youtube uploader"
KAFKA_GROUP_ID=youtube-uploader
