node_modules
# Keep environment variables out of version control
.env

/generated/prisma

# .gitignore inside each service (Node.js standard)


# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# npm cache
.npm

# Lint cache
.eslintcache

# REPL history
.node_repl_history
