# === AWS S3 ===
AWS_ACCESS_KEY_ID=your_aws_access_key_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_key_here
AWS_BUCKET=your_s3_bucket_name_here

# === Database (Postgres /local) ===
DATABASE_URL=your_database_url_here


# === AWS Open Search Host (if OPENSEARCH_PROVIDER=aws) ===
HOST=your_service_host_here

# === Aiven Open Search Host  (if OPENSEARCH_PROVIDER=Aiven)===
AIVENHOST=your_aiven_host_here
USERNAME=avnadmin
PASSWORD=your_password_here

# === Aiven Kafka ===

AIVENUSERNAME=avnadmin
AIVENPASSWORD=your_aiven_password_here
BROKERURL=your_kafka_broker_here
KAFKA_GROUP_ID=youtube-uploader
CLIENTID="youtube uploader"


